<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team4.wtfparking"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.team4.wtfparking.MainActivity"
            android:label="Where to find Parking" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ParkingList"
        	android:label="List of Parking">
        </activity>
        
        <activity android:name=".ParkingMap"
            android:label="Campus Map">            
        </activity>
        
        <activity android:name=".RulesAndRegulations"
            android:label="Rules and Regulation">
        </activity>
        
        <activity android:name=".ViewParking"
            android:label="Display Parking">
        </activity>
        
         <activity android:name=".Favorite"
            android:label="Favorite Parking Lot">
        </activity>
        
          <activity android:name=".FilterLotTypes"
            android:label="Filter Lot Types">
        </activity>
        
    </application>

</manifest>
